.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  .top {
    width: 260vw;
    height: 260vw;
    background-color: whitesmoke;
    border-radius: 100%;
    position: absolute;
    top: -230vw;
  }
  .middle {
    margin-top: 30vw;
    margin-bottom: 30vw;
    height: 25vw;
  }
  .bottom {
    width: 260vw;
    height: 260vw;
    background-color: whitesmoke;
    border-radius: 100%;
    position: absolute;
    bottom: -230vw;
  }
}
