// 卡片
$cardNum: 10;
$cardWidth: 25vw;

// 主题
$bg-dark-color: #121212;
$font-dark-color: white;

.container {
  overflow: hidden;
  position: relative;
  .circle {
    width: 300vw;
    height: 300vw;
    background-color: $bg-dark-color;
    border-radius: 100%;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  .top {
    top: -270vw;

    .title {
      width: 80vw;
      height: 20vw;
      // background-color: white;
      position: absolute;
      bottom: 6vw;
      left: 50%;
      transform: translateX(-50%);

      h1 {
        font-size: 4.5vw;
        font-weight: 500;
        color: $font-dark-color;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
      }
    }
  }
  .middle {
    margin-top: 20vw;
    margin-bottom: 20vw;
    height: 43vw;
    width: calc($cardNum * ($cardWidth + 2vw));
    // background-color: red;
    z-index: 0;
    display: flex;

    .movie {
      display: inline-block;
      height: 100%;
      width: $cardWidth;
      margin-right: 2vw;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .bottom {
    bottom: -270vw;
  }
}
