html,
body,
#app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  color: aliceblue;
  background: #121212;
}

html.dark {
  background: #121212;
}
